@use 'vars.scss';


*[hint] {
  position: relative;
}

*[hint]:before, *[hint]:after {
  content: " ";

  top: -2px;
  left:50%;

  border: 5px solid transparent;
  border-top-color: #444;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transform: translate(-50%, 100%);

}

*[hint]:after {

  border: none;

  top: -12px;
  //left: 50%;

  background-color: #444;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 20px;

  content: attr(hint);
  display: inline-block;
}

*[hint]:hover:after, *[hint]:hover:before {
  //transform: translate(-50%, -100%);
  //opacity: .8;
  animation: d1s 1s ease;
  visibility: visible;

  transform: translate(-50%, -100%);
  opacity: .9;
}

@keyframes d1s {
  0% {
    opacity: 0;
  }
  75% {
    //visibility: visible;
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: .9;
  }
}
